/**- Basic Style -**/
@charset "utf-8";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
a, a:hover, a:focus {text-decoration: none;}

.text-center {text-align: center;}

body {
  font-family: 'Segoe UI', 'Microsoft JhengHei', "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000;
  font-size: 16px;
  line-height: 1.75;
  background: #f0f2f5;
  position: relative;
  
}

#wrap {
  width: 1440px;
  max-width: 100%;
  margin: 0 auto;
  background: #fff;
}
.text-theme {color: #00cc99;}
.section {padding: 45px 20px;}
.card {
  padding: 15px;
  margin: 0 15px;
  background: #fff;
  text-align: center;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),  0 1px 2px rgba(0, 0, 0, 0.24);
}
.card .card-body {
  padding: 0 15px;
  text-align: left;
}

.card .card-body ul {
  margin-left: 30px;
}
.d-flex {
  display: flex;
  flex-wrap: wrap;
}
.btn {
  padding: 5px 20px;
  color: #fff;
  border-radius: .25rem;
  border: 0;
  font-size: 16px;
  margin-top: 20px;
}
.btn-primary {
  background: #00cc99;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background: #00684e;
}




/**- Top Style -**/
.header{
  width: 100%;
  -webkit-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, .1);
  -moz-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, .1);
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, .1);
}

.link {
  background: #f6f6f6;
  color: #ccc;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.link a {
  display: flex;
  align-items: center;
}
.fb {color: #4460a0;}
.twitter {color: #00aaec;}
.link a>img {padding-right: 2px;}

.top{
  display: flex;
  align-items: center;
  padding: 0 10px;
}
.logo {width: 30%;}
.menu {
  width: 70%;
  text-align: right;
}
.menu li {
  list-style: none;
  display: inline-block;
  line-height: 58px;
}
.menu li a {
  color: #00cc99;
  padding: 0 25px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
}
.menu li a::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #00cc99;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.menu li a:hover::before,
.menu li a:focus::before,
.menu li a:active::before {
  left: 0;
  right: 0;
}


/**- Banner Style -**/
.banner figure{position: relative;}
.banner figcaption {
  position: absolute;
  width: 100%;
  left: 0;
  top: 30%;
  padding: 45px 30px;
  background: rgba(2,2,2,.15);
  color: #fff;
}
.banner figcaption h1 {margin-bottom: 0;}
.banner img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

/**- Section-1 -**/
.section-1 {
  display: flex;
  justify-content: center;
}
.section-1 .card {
  width: 33.33333%;
  margin: 0 15px;
}
.section-1 .card figure {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-1 .card img {
  width: auto;
  max-height: 150px;
}



/**- Table Style -**/
.table {
  border-spacing: 0;
  background: #fff;
  width: 100%;
  margin: 30px auto;
}
.table th {
  background: #f7f7f7;
  font-weight: bold;
  text-align: left;
}
.table td, .table th {
  padding: 10px 20px;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
.table tr:last-child>td, .table tr:last-child>th {
  border-bottom: 1px solid #ddd;
}


/**- section-3 Style -**/
.section-3 {
  background: rgb(0,100,75); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(0,100,75,1) 0%, rgba(0,152,114,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(0,100,75,1) 0%,rgba(0,152,114,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(0,100,75,1) 0%,rgba(0,152,114,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00644b', endColorstr='#009872',GradientType=0 ); /* IE6-9 */
  color: #fff;
}
.map, .contact {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  padding: 15px;
  margin-top: 15px;
}

/**- Form Style -**/
.form-group {
  width: 100%;
  margin-bottom: 15px;
}
.form-group>label {
  width: 100%;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
}
.form-group>input {
  width: 100%;
  line-height: 35px;
  border-radius: .25rem;
  border: 0;
  background: #fff;
  padding: .375rem .75rem;
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
  color: #000;
}
.contact button {
  float: right;
}
.form-group>input:focus, .fcontact button:focus {
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 0;
}

/**- Footer -**/
.footer {
  padding: 20px;
  align-items: center;
  justify-content: space-between;
}
.footer .info li {list-style: none;}
.footer .info a {color: #e12d80;}
.footer .info a:hover, .footer .info a:focus {opacity: 0.75;}





/**- Media Screen Style -**/
@media (max-width : 768px) {
  .banner figcaption{top: 0;background: transparent;}
  .section-1{flex-direction: column;}
  .section-1 .card {width: 100%;margin: 0 0 30px;}
  .card .card-body{text-align: center;}
  .card .card-body h2 {margin-bottom: 15px;}
  .card .card-body ul{margin: 0;}
  .card .card-body li{list-style: none;}
}

@media (max-width : 480px) {
  .banner figcaption{padding: 20px;}
  .banner figcaption h1 {
    font-size: 24px;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
  .top {flex-direction: column;padding: 0;}
  .logo, .menu{width: 100%;text-align: center;}
  .menu{display: flex;flex-wrap: wrap;}
  .menu li{line-height: 45px;width: 33.33333%;}
  .menu li a {padding: 0;}
  .map, .contact {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .footer{justify-content: center;text-align: center;}
  .footer .flogo {margin-bottom: 10px;}

  /**- rwd-table -**/
  .rwd-table {
    background: #fff;
    overflow: hidden;
  }

  .rwd-table tr:nth-of-type(2n) {
    background: #fff;
  }

  .rwd-table th {
    margin: 0.5em 1em;
  }

  .rwd-table {
    min-width: 100%;
  }

  .rwd-table th {
    display: none;
  }

  .rwd-table td {
    display: block;
  }

  .rwd-table td:before {
    content: attr(data-th) " : ";
    font-weight: bold;
    width: 14em;
    display: inline-block;
  }

  .rwd-table th,
  .rwd-table td {
    text-align: left;
  }

  .rwd-table th,
  .rwd-table td:before {
    color: #666;
    font-weight: bold;
  }
  .rwd-table tr>td:first-child {background: #666;text-align: center;color: #fff;}
  .rwd-table tr>td:first-child:before {content: none;}
}